

.image-transition {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;  
  align-items: center;    
  justify-content: center;




  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .dark {
    z-index: 2;
    /* clip-path animated by GSAP */
  }

  .light {
    z-index: 1;
  }
}
